<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

<form id="menu-form" class="user-form" action="" method="post">
    <select name="program" id="drop1" required>
        <option value="" selected hidden>게임 이름</option>
    </select>
    <select name="spec" id="drop2" required>
        <option value="" selected hidden>사양</option>
    </select>
    <input type="submit" value="SUBMIT">
    <br><br>
    <button id="logout-btn" onclick="location.href='/logout'">로그아웃</button>
</form>

<script>
    $(document).ready(function(){


        var newOption1 = $('<option value="'+ '리그오브레전드' +'">'+ '리그오브레전드' +'</option>');
        $('#drop1').append(newOption1);
        var newOption2 = $('<option value="'+ '로스트아크' +'">'+ '로스트아크' +'</option>');
        $('#drop1').append(newOption2);
        var newOption3 = $('<option value="'+ '배틀그라운드' +'">'+ '배틀그라운드' +'</option>');
        $('#drop1').append(newOption3);
        var newOption4 = $('<option value="'+ '피파온라인4' +'">'+ '피파온라인4' +'</option>');
        $('#drop1').append(newOption4);
        var newOption5 = $('<option value="'+ '오버워치' +'">'+ '오버워치' +'</option>');
        $('#drop1').append(newOption5);
        var newOption6 = $('<option value="'+ '서든어택' +'">'+ '서든어택' +'</option>');
        $('#drop1').append(newOption6);
        var newOption7 = $('<option value="'+ '스타크래프트' +'">'+ '스타크래프트' +'</option>');
        $('#drop1').append(newOption7);
        var newOption8 = $('<option value="'+ '메이플스토리' +'">'+ '메이플스토리' +'</option>');
        $('#drop1').append(newOption8);
        var newOption9 = $('<option value="'+ '카트라이더' +'">'+ '카트라이더' +'</option>');
        $('#drop1').append(newOption9);
        var newOption10 = $('<option value="'+ '던전앤파이터' +'">'+ '던전앤파이터' +'</option>');
        $('#drop1').append(newOption10);
        var newOption11 = $('<option value="'+ '월드오브워크래프트' +'">'+ '월드오브워크래프트' +'</option>');
        $('#drop1').append(newOption11);
        var newOption12 = $('<option value="'+ '리니지' +'">'+ '리니지' +'</option>');
        $('#drop1').append(newOption12);
        var newOption13 = $('<option value="'+ '블레이드앤소울' +'">'+ '블레이드앤소울' +'</option>');
        $('#drop1').append(newOption13);
        var newOption14 = $('<option value="'+ '데스티니가이던즈' +'">'+ '데스티니가디언즈' +'</option>');
        $('#drop1').append(newOption14);
        var newOption15 = $('<option value="'+ '사이퍼즈' +'">'+ '사이퍼즈' +'</option>');
        $('#drop1').append(newOption15);
        var newOption16 = $('<option value="'+ '디아블로3' +'">'+ '디아블로3' +'</option>');
        $('#drop1').append(newOption16);
        var newOption17 = $('<option value="'+ '아이온' +'">'+ '아이온' +'</option>');
        $('#drop1').append(newOption17);
        var newOption318 = $('<option value="'+ '포트나이트' +'">'+ '포트나이트' +'</option>');
        $('#drop1').append(newOption18);
        var newOption19 = $('<option value="'+ '히어로즈오브더스톰' +'">'+ '히어로즈오브더스톰' +'</option>');
        $('#drop1').append(newOption19);
        var newOption20 = $('<option value="'+ '리니지2' +'">'+ '리니지2' +'</option>');
        $('#drop1').append(newOption20);
        
        
        .program {
            max-height:200px;
            overflow:scroll; 
        }
        
        

        var newOption01 = $('<option value="'+ '최소' +'">'+ '최소사양' +'</option>');
        $('#drop2').append(newOption4);
        var newOption02 = $('<option value="'+ '권장' +'">'+ '권장사양' +'</option>');
        $('#drop2').append(newOption5);

        $("#menu-form").submit(function (ev) {

            var formData = $("#menu-form").serialize();

            $.ajax({
                type: "POST",
                url: "/select",
                cache: false,
                data: formData,
                success: function (data, status){
                    console.log(data);

                    if(data.success == true){
                        alert('전달 성공! ');
                        location.href = '/test'; // 이동할 페이지(get) 로그인 성공
                    } else {
                        alert('전달 실패! ');
                    }
                },
                error: function onError(data, status) {
                    alert("서버 문제가 발생했습니다.\n다시 시도해 주시기 바랍니다.");
                }
            });
            ev.preventDefault();
        });
    });
</script>
</body>
</html>
