<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

<form id="menu-form" class="user-form" action="" method="post">
    <select name="program" id="drop1" required>
        <option value="" selected hidden>게임 이름</option>
    </select>
    <select name="spec" id="drop2" required>
        <option value="" selected hidden>사양</option>
    </select>
    <input type="submit" value="SUBMIT">
    <br><br>
    <button id="logout-btn" onclick="location.href='/logout'">로그아웃</button>
</form>

<script>
    $(document).ready(function(){

        $('#drop1').append($('<option value="롤">'+ '리그오브레전드' +'</option>'));
        $('#drop1').append($('<option value="로스트아크">'+ '로스트아크' +'</option>'));
        $('#drop1').append($('<option value="배틀그라운드">'+ '배틀그라운드' +'</option>'));
        $('#drop1').append($('<option value="피파온라인4">'+ '피파온라인4' +'</option>'));
        $('#drop1').append($('<option value="오버워치">'+ '오버워치' +'</option>'));
        $('#drop1').append($('<option value="서든어택">'+ '서든어택' +'</option>'));
        $('#drop1').append($('<option value="스타크래프트">'+ '스타크래프트' +'</option>'));
        $('#drop1').append($('<option value="메이플스토리">'+ '메이플스토리' +'</option>'));
        $('#drop1').append($('<option value="카트라이더">'+ '카트라이더' +'</option>'));
        $('#drop1').append($('<option value="던전앤파이터">'+ '던전앤파이터' +'</option>'));
        $('#drop1').append($('<option value="와우">'+ '월드오브워크래프트' +'</option>'));
        $('#drop1').append($('<option value="리니지">'+ '리니지' +'</option>'));
        $('#drop1').append($('<option value="블레이드앤소울">'+ '블레이드앤소울' +'</option>'));
        $('#drop1').append($('<option value="데스티니가디언즈">'+ '데스티니가디언즈' +'</option>'));
        $('#drop1').append($('<option value="사이퍼즈">'+ '사이퍼즈' +'</option>'));
        $('#drop1').append($('<option value="디아블로3">'+ '디아블로3' +'</option>'));
        $('#drop1').append($('<option value="아이온">'+ '아이온' +'</option>'));
        $('#drop1').append($('<option value="포트나이트">'+ '포트나이트' +'</option>'));
        $('#drop1').append($('<option value="히오스">'+ '히어로즈오브더스톰' +'</option>'));
        $('#drop1').append($('<option value="리니지2">'+ '리니지2' +'</option>'));
        
        
        // .program {
        //     max-height:200px;
        //     overflow:scroll;
        // }

        $('#drop2').append($('<option value="min">'+ '최소사양' +'</option>'));
        $('#drop2').append($('<option value="rec">'+ '권장사양' +'</option>'));

        $("#menu-form").submit(function (ev) {

            var formData = $("#menu-form").serialize();

            $.ajax({
                type: "POST",
                url: "/select",
                cache: false,
                data: formData,
                success: function (data, status){
                    console.log(data);

                    if(data.success == true){
                        alert('전달 성공! ');
                        location.href = '/test'; // 이동할 페이지(get) 로그인 성공
                    } else {
                        alert('전달 실패! ');
                    }
                },
                error: function onError(data, status) {
                    alert("서버 문제가 발생했습니다.\n다시 시도해 주시기 바랍니다.");
                }
            });
            ev.preventDefault();
        });
    });
</script>
</body>
</html>
